alpha_vantage
joblib
matplotlib
numpy
pandas
Pillow
plotly
pycaret
pygwalker
requests
scikit_learn
pywin32
seaborn
stocknews
streamlit
streamlit_lottie
streamlit_option_menu
streamlit_pandas_profiling
yfinance
yagmail
